body {
    background-color: red;
    color: white;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

div {
    text-align:center;
}

img {
    display: block;
    border: 10px solid black;
    width: 50%;
    margin: auto;
}

img:hover {
    border: 10px solid yellow;
}

h1 {
    text-align: center;
}
