body {
  background-color: lightblue;
  margin: 0;
  font-family: sans-serif;
}
header {
    text-align: center;
    background-color: yellow;
    padding: 20px;
}
footer{
    text-align: center;
    background-color: lightgreen;
    padding: 10px;
}
.menu
{
   border:5px red solid;
   padding:1em;
   margin:1em 0 1em 0;
}

/*
.menu
{
  display: inline-block;
  width:44%;
  border:5px red solid;
  padding:1em;
  margin:1em 0 1em 0;
}
*/
/*.menu
{
  display: inline-block;
  width:44%;
  height:300px;
  vertical-align: top;
  border:5px red solid;
  padding:1em;
  margin:1em 0 1em 0;
}
*/
